name: Docker Image CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - name: Show info
      run: pwd; ls -la; env; uname -a

    - uses: docker/build-push-action@v6.18.0
